body {
    height: 100%;
    margin: 0;
}

.App {
    
}

.Table {
    width: 100vh;
    height: 100vw;
    border-radius: 100% 50%;
}
.Seat {
    
}

.Log {

}

.Red {
    color: red;
}

.Black {
    color: black;
}

.Orange {
    color: orange;
}

.Green {
    color: green;
}

.Card {
    border: .2em solid black;
    border-radius: 10%;
    text-align: center; 
}

.PlayerInfo {
    background: yellow
}